<form class="form-wrapper" (ngSubmit)="sendForm()">
  <div class="form-group">
    <label for="portion" class="form-label">Número de Parcelas</label>
    <input type="number" id="portion" name="poriton" class="form-input" [(ngModel)]="quota.quota"   />
  </div>

  <div class="form-group">
    <label for="value" class="form-label">Valor de Cada Parcela</label>
    <input type="number" id="value" name="value" class="form-input" [(ngModel)]="quota.value" />
  </div>

  <div class="form-group">
    <label for="value" class="form-label">Juros</label>
    <input type="number" id="rate" name="rate" class="form-input" [(ngModel)]="quota.rate" />
  </div>

 <div class="form-group">
  <input type="submit" value="Cadastrar Parcela" class="query-cta" />
 </div>
</form>